#------------------------
# Приложение и окружение
#------------------------
NGINX_PORT=8080

APP_UID=1000
APP_GID=1000

YII_DEBUG=true
YII_ENV=dev
YII_COOKIE_VALIDATION_KEY=

# MySQL (Percona)
DB_HOST=mysql
DB_PORT=3306
DB_NAME=board
DB_USER=board
DB_PASSWORD=password
DB_ROOT_PASSWORD=password_root
# донастройки БД
DB_CHARSET=utf8mb4
DB_HOST_PORT=3307
DB_BUFFER_POOL=1G
DB_SLOW_QUERY_TIME=0.5
# тестовая БД
DB_TEST_NAME=board_test

# Почта (для отладки на mailpit)
MAILER_HOST=mailpit
MAILER_PORT=1025
MAILER_USER=
MAILER_PASSWORD=
MAILER_ENCRYPTION=
MAILER_FROM=noreply@bulletin-board.local
MAILER_FROM_NAME='Bulletin Board'

#----------
# Сервисы
#----------
# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_HOST_PORT=6379
REDIS_MAXMEMORY=256mb

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=board
RABBITMQ_PASSWORD=password
RABBITMQ_VHOST=/
RABBITMQ_HOST_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Elasticsearch
ES_HOST=elasticsearch
ES_PORT=9200
ES_HOST_PORT=9200
ES_HEAP=512m

# Kibana
KIBANA_PORT=5601

# Mailpit
MAILPIT_UI_PORT=8025
